<?xml version="1.0"?>
<config>
    <modules>
        <Contus_Charitydetail>
            <version>0.1.0</version>
        </Contus_Charitydetail>
    </modules>
    <frontend>
        <routers>
            <charitydetail>
                <use>standard</use>
                <args>
                    <module>Contus_Charitydetail</module>
                    <frontName>charitydetail</frontName>
                </args>
            </charitydetail>
        </routers>
        <layout>
            <updates>
                <charitydetail>
                    <file>charitydetail.xml</file>
                </charitydetail>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<charitydetail>
				<use>admin</use>
				<args>
					<module>Contus_Charitydetail</module>
					<frontName>charitydetail</frontName>
				</args>
			</charitydetail>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<charitydetail module="charitydetail">
				<title>Charity Details</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="charitydetail">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>charitydetail/adminhtml_charitydetail</action>
					</items>
				</children>
			</charitydetail>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Contus_Charitydetail>
							<title>Charitydetail Module</title>
							<sort_order>10</sort_order>
						</Contus_Charitydetail>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<charitydetail>
					<file>charitydetail.xml</file>
				</charitydetail>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <charitydetail>
                <class>Contus_Charitydetail_Model</class>
                <resourceModel>charitydetail_mysql4</resourceModel>
            </charitydetail>
            <charitydetail_mysql4>
                <class>Contus_Charitydetail_Model_Mysql4</class>
                <entities>
                    <charitydetail>
                        <table>charitydetail</table>
                    </charitydetail>
                </entities>
            </charitydetail_mysql4>
        </models>
        <resources>
            <charitydetail_setup>
                <setup>
                    <module>Contus_Charitydetail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </charitydetail_setup>
            <charitydetail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </charitydetail_write>
            <charitydetail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </charitydetail_read>
        </resources>
        <blocks>
            <charitydetail>
                <class>Contus_Charitydetail_Block</class>
            </charitydetail>
        </blocks>
        <helpers>
            <charitydetail>
                <class>Contus_Charitydetail_Helper</class>
            </charitydetail>
        </helpers>
    </global>
</config>