<!--
<!--@subject Deal Me Coupon @-->

<div style="border: 4.5pt solid rgb(222, 237, 204); padding: 15pt; margin-top: 3.75pt; margin-bottom: 3.75pt;">

<p class="MsoNormal" style="background: rgb(134, 173, 83) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span style="color: rgb(84, 84, 84);" lang="EN">&nbsp;</span></p>

<table style="background: white none repeat scroll 0% 0%; width: 100%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" border="0" cellpadding="0" width="100%">
 <tbody><tr>
  <td style="padding: 0.75pt;">
  <div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(214, 214, 214); border-width: medium medium 1pt; padding: 0cm 0cm 9pt; margin-left: 22.5pt; margin-right: 22.5pt;">

  <p class="MsoNormal" style="text-align: center;" align="center"><span style="color: rgb(84, 84, 84);"><a href='{{config path="web/secure/base_url"}}' title="Deal" target="_blank"><span style="text-decoration: none;"><img src="http://www..com/images/Deal/blasts/logo-email-Deal.jpg" alt="Deal - Deal.com" border="0"></span></a></span></p>
  </div>
  </td>
 </tr>
 <tr>
  <td style="padding: 15pt 22.5pt 3.75pt;">
  <h2 style="margin-right: 15pt; margin-bottom: 3.75pt; margin-left: 15pt;"><span style="font-size: 13.5pt; color: rgb(84, 84, 84);">Hi {{var myvar3}} </span></h2>
  <h3 style="margin-right: 15pt; margin-bottom: 3.75pt; margin-left: 15pt; text-align: center;" align="center"><span style="font-size: 18pt; color: rgb(134, 173, 83);">Your Deal is ready!!!</span></h3>

  <p style="margin-right: 15pt; margin-left: 15pt; margin-bottom: 0.0001pt; text-align: center;" align="center"><span style="color: rgb(84, 84, 84);">Print it here: <a href="{{var myvar2}}" title="Print your Deal" target="_blank"><b>{{config path="web/secure/base_url"}}<wbr>myDeals</b></a> </span></p>
  <h4 style="margin-right: 15pt; margin-bottom: 3.75pt; margin-left: 15pt;"><span style="font-size: 9pt; color: rgb(84, 84, 84);">Invoice Details: </span></h4>
  <p style="background: rgb(255, 253, 193) none repeat scroll 0% 0%; margin-right: 0cm; margin-bottom: 3.75pt; margin-left: 0cm; line-height: 18pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span style="color: rgb(84, 84, 84);">Your are
  charged </span><b><span style="font-size: 15pt; color: rgb(84, 84, 84);">USD {{var myvar1}}. </span></b>for the Deal <span style="color: rgb(84, 84, 84);">{{var myvar4}}</span></p>
   <td><span style="color: rgb(84, 84, 84);">Your Uniqueid </span><b><span style="font-size: 15pt; color: rgb(84, 84, 84);">{{var myvar5}}. </span></b>for the Deal </td>
  </td>

 </tr>
 <tr>
  <td style="padding: 0.75pt;">
  <div style="border-style: solid none none; border-color: rgb(214, 214, 214) -moz-use-text-color -moz-use-text-color; border-width: 1pt medium medium; padding: 11pt 0cm 0cm; margin-left: 22.5pt; margin-right: 22.5pt;">
  <h4 style="margin-right: 0cm; margin-bottom: 3.75pt; margin-left: 0cm; text-align: center; line-height: 19.5pt;" align="center"><span style="font-size: 16.5pt; color: rgb(134, 173, 83);">Thanks
  for getting your Deal! </span></h4>
  <h5 style="margin: 0cm 0cm 0.0001pt; text-align: center; line-height: 15pt;" align="center"><span style="font-size: 12pt; color: rgb(84, 84, 84);">The Groupclone Team - <a href='{{config path="web/secure/base_url"}}' title="Deal - Collective Buying Power" target="_blank">{{config path="web/secure/base_url"}}</a> </span></h5>
  </div>

  </td>
 </tr>
</tbody></table>

<p class="MsoNormal" style="background: rgb(134, 173, 83) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span style="color: rgb(84, 84, 84);" lang="EN">&nbsp;</span></p>

<table style="background: rgb(222, 237, 204) none repeat scroll 0% 0%; width: 100%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" border="0" cellpadding="0" width="100%">
 <tbody><tr>
  <td style="padding: 0.75pt;">
  <p style="margin: 7.5pt; text-align: center; line-height: 12pt;" align="center"><b><span style="font-size: 9pt; color: rgb(84, 84, 84);">Email
  us: <a href='' title="Email Deal" target="_blank">{{config path="trans_email/ident_general/email"}}</a>

  Call us: {{config path="general/store_information/phone"}}</span></b><span style="font-size: 7pt; color: rgb(84, 84, 84);">Monday - Friday 9:00am - 5:00pm CST</span><b><span style="font-size: 9pt; color: rgb(84, 84, 84);"> </span></b></p>
  </td>
 </tr>
</tbody></table>

</div>

<table border="0" cellpadding="0" cellspacing="0">
 <tbody><tr>
  <td style="padding: 0cm;">

  <p style="margin: 2.25pt; text-align: center;" align="center"><span style="font-size: 8.5pt; color: rgb(146, 146, 146);">Delivered
  by <a href='{{config path="web/secure/base_url"}}' title="Deal" target="_blank">Deal</a> {{config path="general/store_information/address"}} </span></p>
  </td>
 </tr>
</tbody></table>