<?xml version="1.0"?>
<config>
<modules>
<Fido_Sidedeals>
<version>0.1.0</version>
</Fido_Sidedeals>
</modules>
<global>
<blocks>
<fido_sidedeals>
<class>Fido_Sidedeals_Block</class>
</fido_sidedeals>
</blocks>
<blocks>
        <catalog>
            <rewrite>
                <product_featured>MyCompany_Catalog_Block_Product_Featured</product_featured>
           </rewrite>
            <rewrite>
                <category_view>MyCompany_Catalog_Block_Category_View</category_view>
            </rewrite>
         </catalog>
</blocks>
</global>
</config>

